<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
						http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/config/spring/shoppingApp-service-main.xml
        classpath:/config/spring/shoppingApp-persistence.xml
        classpath:/config/spring/appContext-dataSource-main.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>production</param-value>
    </context-param>

	<listener>
    	<listener-class>com.nyp.shopping.web.listener.ApplicationClasspathListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- <listener>
		<listener-class>com.sadarbazaar.shoppingweb.web.listener.ApplicationCacheListener</listener-class>
	</listener> -->

	<filter>
	  <filter-name>MDCInsertingServletFilter</filter-name>
	  <filter-class>
	    ch.qos.logback.classic.helpers.MDCInsertingServletFilter
	  </filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>MDCInsertingServletFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>TracerFilter</filter-name>
        <filter-class>com.nyp.shopping.web.filter.TracerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TracerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>shoppingApp</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/config/spring/shoppingApp-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AppSecurityServlet</servlet-name>
        <servlet-class>com.nyp.shopping.web.servlet.SecurityServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>shoppingApp</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppSecurityServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

</web-app>
