<div class="panel panel-info">
	<div class="panel-heading">
		<h4>Top Selling Products</h4>
	</div>
	<div class="panel-body">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<a ui-sref="viewproduct" >
				<div class="panel panel-primary">
					<div class="panel-heading">Chocolate Cream Gateaux Cake</div>
					<div class="panel-body">
						<img
							src="images/products/0020232_chocolate_cream_gateaux_cake_205.jpeg"
							class="img-responsive" style="width: 100%" alt="Image">
					</div>
					<div class="panel-footer">
						<font color="red">Rs. 599</font>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<a href="#">
				<div class="panel panel-primary">
					<div class="panel-heading">Chocolate Cream Gateaux Cake</div>
					<div class="panel-body">
						<img
							src="images/products/0020232_chocolate_cream_gateaux_cake_205.jpeg"
							class="img-responsive" style="width: 100%" alt="Image">
					</div>
					<div class="panel-footer">
						<font color="red">Rs. 599</font>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<a href="#">
				<div class="panel panel-primary">
					<div class="panel-heading">Chocolate Cream Gateaux Cake</div>
					<div class="panel-body">
						<img
							src="images/products/0020232_chocolate_cream_gateaux_cake_205.jpeg"
							class="img-responsive" style="width: 100%" alt="Image">
					</div>
					<div class="panel-footer">
						<font color="red">Rs. 599</font>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<a href="#">
				<div class="panel panel-primary">
					<div class="panel-heading">Chocolate Cream Gateaux Cake</div>
					<div class="panel-body">
						<img
							src="images/products/0020232_chocolate_cream_gateaux_cake_205.jpeg"
							class="img-responsive" style="width: 100%" alt="Image">
					</div>
					<div class="panel-footer">
						<font color="red">Rs. 599</font>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
