<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Praveen
		<img src="images/products/0020232_chocolate_cream_gateaux_cake_205.jpeg" class="img-responsive" style="width: 100%" alt="Image">
		
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<h1>Just for you a bucket of 20 roses <br></h1>
		<font color="red">Rs 699 </font>(inclusive of taxes)<br>
		<a ui-sref="viewkart" ><button class="btn-danger btn-lg btn-md btn-sm btn-xs" value="BUY">BUY NOW1</button></a><br>
		*You need to place order at least 3 hours before delivery date/time you want <br>(Earliest delivery time slot available at Today 4:00 PM<br>
		<b>Product Description comes here</b><br>
		 
	</div>
</div>